*{
    margin:0;
    padding:0;
    border:0;
    box-sizing:border-box;
}
body{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-family:Arial, Helvetica, sans-serif;
    overflow-x:hidden;
    background-color:hsl(231, 5%, 30%);
}
.top-toolbar{
    width:80%;
    height:65px;
    background-color:hsl(240, 12%, 10%);
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:15px;
}
.top-toolbar .btn{
    width:45px;
    height:40px;
    font-size:16px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:hsl(240, 12%, 10%);
    margin:12px;
    border-radius:4px;
    cursor:pointer;
}
.top-toolbar .btn:hover{
    background-color:hsl(240, 1%, 58%);
    color:hsl(0,100%,100%);
}
.top-toolbar .btn .icon{
    color:hsl(240, 1%, 58%);
}
.container{
    width:80%;
    height:350px;
    border-radius:10px;
    display:flex;
    justify-content:space-between;
}
.container .panel{
    width:30%;
    height:100%;
    border-radius:10px;
    background-color:hsl(200, 11%, 15%);
    padding:25px 0px;
}
.container .panel .text{
    font-size:20px;
    color:hsl(240, 1%, 58%);
    margin-bottom:8px;
    padding-left:20px;
}
hr{
    background-color:hsla(240, 1%, 58%, 0.2);
    height:1.5px;
    width:100%;
    margin-bottom:10px;
}
.container .panel select{
    width:140px;
    height:45px;
    border-radius:4px;
    font-size:18px;
    padding:10px 10px 10px 0px;
    background-color:hsl(200, 11%, 15%);
    color:hsl(0,100%,100%);
    cursor:pointer;
    outline:none;
    margin-bottom:10px;
    margin-left:17px;
}
.container .panel .color{
    font-size:20px;
    color:hsl(240, 1%, 58%);
    padding-top:8px;
    padding-left:20px;
}
#style1{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background-color:transparent;
    width:40px;
    height:40px;
    border:none;
    cursor:pointer;
    margin-bottom:10px;
}
#style1::-webkit-color-swatch{
    border-radius:50%;
    border:none;
}
#style1::-moz-color-swatch{
    border-radius:50%;
    border:none;
}
.container .file-panel{
    width:22%;
    height:50%;
    background-color:hsl(200, 11%, 15%);
    border-radius:10px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding-left:20px;
}
.container .file-panel .filename{
    width:220px;
    height:35px;
    padding-left:12px;
    font-size:16px;
    border-radius:5px;
    margin-bottom:25px;
    outline:none;
}
.container .file-panel .save{
    width:130px;
    height:35px;
    font-size:16px;
    border-radius:5px;
    padding-left:4px;
    outline:none;
    background-color:hsl(240, 1%, 58%);
    color:hsl(240, 12%, 10%);
    cursor:pointer;
}
.container .text-area{
    width:45%;
    height:75%;
    background-color:hsl(0,100%,100%);
    padding:22px;
    overflow-y:auto;
    outline:none;
    margin-top:5px;
}
